* { box-sizing: border-box; }

body { background: #1f2832 url("img/sea.jpg") no-repeat center 0; color: #94a7bc; font-family: sans-serif; }

.page { /* blog wrapper */ width: 100%; max-width: 700px; margin: 0 auto; padding: 20px; }

header { /* blog title and subtitle, nav */ text-align: center; }
header h1 { mix-blend-mode: color-dodge; background: #29415d; color: #ddd; font-size: 3em; text-transform: uppercase; letter-spacing: .4em; overflow-wrap: break-word; margin: 20px 0; border: 3px solid; padding: .5em .4em .5em 0; }

article { /* in lists and in complete post/page */ margin-bottom: 60px; counter-reset: footnotes; /* Initialiazing a `footnotes` counter on the wrapper */ }
article :target { background: #94a7bc; color: #1f2832; border-radius: 4px; padding: 5px; }

.pagination { text-align: center; }

footer { font-size: .9em; text-align: center; margin-top: 50px; }

.footnotes { /* for footnotes */ margin-top: 50px; border-top: 1px solid; padding-top: 15px; font-size: .9em; }
.footnotes ol { padding-left: 20px; }
.footnotes li { padding: 5px 0; }
.footnotes :target { background: #94a7bc; color: #1f2832; border-radius: 4px; padding: 5px; }

[aria-describedby="footnote-label"] { /* for footnotes */ counter-increment: footnotes; text-decoration: none; color: inherit; }

[aria-describedby="footnote-label"]::after { /* for footnotes */ content: counter(footnotes); vertical-align: super; font-size: 0.5em; margin-left: 2px; }

.label { margin: 0 auto 10px; word-spacing: 0.3em; text-transform: uppercase; }

.postTitle { font-size: 1.5em; text-transform: uppercase; }

.postInfos { margin-top: -17px; font-size: .85em; color: #c3ceda; }
.postInfos a { text-decoration: none; padding: 1px 2px; margin: 0 3px; border-radius: 4px; color: #1f2832; background: #c3ceda; }
.postInfos a:hover { background: #fff; color: #1f2832; }
.postInfos .countComments { background: url("img/comment.svg") no-repeat 1px 2px; padding-left: 20px; }

.thumb { width: 210px; display: inline-table; padding: 0px; margin: 15px 3px; font-size: .8em; }
.thumb a { text-decoration: none; }
.thumb a:hover { text-decoration: underline; }

h1, h2, h3, h4, h5, h6, .label, nav { font-family: 'Open Sans Condensed', sans-serif; color: #c3ceda; }

h2 a { text-decoration: none; }

.onlyPost { /* ".onlyPost" (just for post or page, not lists of posts) */ }
.onlyPost h1 { mix-blend-mode: color-dodge; background: #29415d; color: #ddd; font-size: 2.8em; letter-spacing: .1em; overflow-wrap: break-word; margin: 20px 0; border: 3px solid; line-height: 1.2em; word-spacing: 0.1em; text-align: center; padding: .4em .3em .5em .3em; }
.onlyPost h2 { font-size: 2.6em; }
.onlyPost h2 a { text-decoration: underline; }
.onlyPost h3 { font-size: 2.2em; }
.onlyPost h4 { font-size: 1.6em; }
.onlyPost h5 { font-size: 1.3em; }
.onlyPost h6 { font-size: 1.1em; }
.onlyPost .postInfos { margin-top: 0px; text-align: center; margin-bottom: 50px; }

a { text-decoration: underline; color: inherit; }
a:hover { color: #fff; }
a.video { padding-right: 15px; background: url("img/videoLink.svg") no-repeat right; }
a.external { padding-right: 15px; background: url("img/externalLink.svg") no-repeat right; }

blockquote { padding-left: 1em; border-left: 4px solid #94a7bc; }
blockquote footer { background: #94a7bc; color: #1f2832; display: inline-block; padding: 5px 10px; border-radius: 5px; margin: 0; }

code { background: #000; color: #fff; font-family: monospace; font-size: 1.2em; padding: 2px 4px; border: 1px solid #314774; }

del { background: #f09292; text-decoration: none; color: #540e0e; padding: 1px 2px; border-radius: 4px; }

figure { background: #94a7bc; padding: 7px; margin: 0; border-radius: 5px; }
figure figcaption { color: #1f2832; text-align: center; padding: 10px 10px 0 10px; font-size: .9em; }

hr { height: 40px; border: none; margin: 30px 0; background: url("img/hr.svg") no-repeat center; }

img { max-width: 100%; }

ins { background: #95e18d; text-decoration: none; color: #275c29; padding: 1px 2px; border-radius: 4px; }

mark { background: #21d0ff; }

p { line-height: 1.3em; /* poem */ /* dialog */ }
p.indented { text-indent: 1em; }
p.disc_alpha { margin-bottom: 0; }
p.disc_inter { margin-top: 0; margin-bottom: 0; }
p.disc_omega { margin-top: 0; }

sup a { text-decoration: none; }

table { border-collapse: collapse; }

th { background: #94a7bc; color: #1f2832; border: 1px solid #c3ceda; padding: 20px; }

tr:nth-child(odd) { background: #151b22; }

td { border: 1px solid #94a7bc; padding: 10px; text-align: center; }

/* Horizontal nav bar */
nav { display: inline-block; margin-bottom: 20px; margin-top: -10px; font-weight: 700; text-transform: uppercase; }

nav > ul { margin: 0px; padding: 0px; }

nav > ul::after { content: ""; display: block; clear: both; }

nav > ul > li { float: left; position: relative; padding: 10px 20px; }

nav li { list-style-type: none; }

.submenu { display: none; }

nav a { display: inline-block; text-decoration: none; }

nav li:hover .submenu { background: #1f2832; box-shadow: 0 0 15px #151b22; display: inline-block; position: absolute; top: 100%; left: 0; padding: 10px 20px; z-index: 100000; min-width: 100%; }

.menu { cursor: pointer; color: #c3ceda; }

.submenu li a { padding: 7px 0; }

.menuIndicator { transform: rotate(90deg); display: block; }

.menu:hover { background: #1f2832; box-shadow: 0 0 15px #151b22; }
.menu:hover .menuIndicator { transform: rotate(-90deg); margin-left: -8px; }
